body {
  font-family: sans-serif;
  width: 350px;
}

div#subtitle {
  color: #999;
  font-size: 65%;
  letter-spacing: 2px;
}

div.group {
  font-size: 85%;
  background-color: lightblue;
  border: 1px solid royalblue;
  padding: 5px;
  margin: 5px;
}

div.group img {
  width: 24px;
}

.topic {
  font-size: 65%;
}
