body {
  margin: 0px;
  padding: 0px;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  width: 350px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.05, rgb(255,255,255)),
    color-stop(0.53, rgb(216,216,232)),
    color-stop(0.77, rgb(220,220,224))
  );
}

#header {
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgb(10,10,10)),
    color-stop(0.53, rgb(29,29,31)),
    color-stop(0.77, rgb(43,42,51))
  );
  -webkit-box-shadow: 0px 3px 15px #888;
}
#header > div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 1px;
}
#header #notifications-pane {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  -webkit-box-flex: 1;
}
#header #notifications-pane img {
  width: 22px;
}
#header .shadow-text {
  text-shadow: 2px 2px 2px #000;
}
div.badge {
  position: relative;
  margin: 5px 10px 0px 0px;
}
div.badge div.badge-text {
  background-color: darkred;
  padding: 1px;
  margin: -3px;
  border: 1px solid #eee;
  position: absolute;
  font-size: 6pt;
  font-family: monospace;
  top: 0px;
  right: 0px;
}
#header #header-bottom {
  font-size: 75%;
}
#header #logout {
  text-align: right;
  -webkit-box-flex: 1;
}



div#content-pane {
  width: 1050px;
  overflow: hide;
  position: relative;
}

div#groups-pane {
  width: 350px;
  height: 450px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

div#topics-pane {
  width: 350px;
  height: 450px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 350px;
}

div#messages-pane {
  width: 350px;
  height: 450px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 700px;
}

.loading {
  font-size: 80%;
  color: #aaa;
}

div.group {
  font-size: 85%;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #888;
  background-color: #efefef;
}

div.topic {
  font-size: 70%;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #888;
  background-color: #efefef;
}

div.message {
  font-size: 70%;
  padding: 5px;
  margin: -1px 5px 0px 5px;
  border: 1px solid #888;
  background-color: #efefef;
}

div.group img {
  width: 24px;
}

div#login-err {
  font-size: 70%;
}

.error {
  color: red;
}

div#content-pane .clickable {
  cursor: hand;
  background-color: #CCCCFF;
  border: 1px solid #333;
}

div#content-pane a.back {
  text-decoration: none;
  border: 1px solid #103a87;
  font-size: 75%;
  color: white;
  text-shadow: 1px 1px 1px #333;
  padding: 3px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01, rgb(65,101,164)),
    color-stop(0.51, rgb(91,132,197)),
    color-stop(0.76, rgb(119,159,237))
  );
}
